@import url(https://fonts.googleapis.com/css?family=Bitter);

/**** TOP BAR ****/
[data-sticky] {
    width: 100%; }
.top-bar {
    padding: 2rem;
    transition: padding .25s ease; }

.is-stuck .top-bar {
    padding: 1rem;
    transition: padding .25s ease; }
/* MOVILES */
.logo-small {
    float: right; }

.title-bar {
    padding: 0 .5rem; }
.menu-icon,
.title-bar-title {
    position: relative;
    top: 10px; }

/* TABLETS, PCS...*/
@media only screen and (min-width: 40rem) {

    .logo-wrapper .logo {
        width: 118px;
        height: 92px;
        position: absolute;
        left: 50%;
        right: 50%;
        top: 6px;
        margin-left: -59px; }

    .top-bar-right {
        width: 50%;
        padding-left: 86px; }
    .top-bar-right ul {
        float: left; }

    .top-bar-left {
        width: 50%;
        padding-right: 86px; }
    .top-bar-left ul {
        float: right;
        width: 16em} }

#header-landing {
    position: relative;
    background: rgba(1, 1, 1, 0.5);
}
#header-landing .eslogan {
    text-align: center;
    padding-top: 9em;
}
#header-landing .eslogan h2 {
    padding: 15px 20px;
    color: #fff;
    font-weight: 300;
    font-size: 60px;
    line-height: 100%;
    letter-spacing: -2px;
    display: block;
    text-transform: uppercase;
}
#header-landing .eslogan h2 span {
    font-weight: 800;
}
#header-landing .eslogan h4 {
    padding: 10px 20px;
    color: #fff;
    font-weight: 300;
    font-size: 30px;
    line-height: 100%;
    display: block;
}
#header-landing .eslogan h4 span {
    font-weight: 800;
}
#header-landing .eslogan p {
    font-size: 18px;
    margin: 20px 0;
    color: #fff;
    padding: 5px 10px;
    display: block;
}

#header-landing .eslogan .social-icons {
    padding: 20px;
    display: block;
}

/**** TABS ****/
.header-subnav {
    background: none!important;
    border:none !important;
    float: none;
    top: 4rem;
    text-align: center;
    margin-bottom: 0;
    margin-top: 5em;}
.header-subnav li {
    float: none;
    display: inline-block; }
.header-subnav li a {
    padding: 0.9rem 1rem 0.75rem;
    font-size: 0.875rem;
    color: #fff;
    text-transform: uppercase;
    display: block;
    font-weight: bold;
    letter-spacing: 1px; }
.header-subnav .is-active {
    background: rgba(250, 250, 250, 0.7) !important;
    color: #333 !important; }
.header-subnav li a:hover {
    background: rgba(250, 250, 250, 0.7);
    color: #333;
    transition: all .25s ease-in-out; }

/** QUIENES SOMOS **/
#cd-timeline {
    position: relative;
    padding: 2em 0;
    margin-top: 2em;
    margin-bottom: 2em;
}
#cd-timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 4px;
    background: #d7e4ed;
}
.cssanimations .cd-timeline-img.is-hidden {
    visibility: hidden;
}
.cssanimations .cd-timeline-img.bounce-in {
    visibility: visible;
    animation: cd-bounce-1 0.6s;
}

@keyframes cd-bounce-1 {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }

    60% {
        opacity: 1;
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}


/* CAJON ABATIBLE AL HACER HOVER */
.service ,.service-tw,.service-ig{
    width: 100%;
    height: 320px;
    margin: 80px 0;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
.service .service-icon-box,.service-tw .service-icon-box-tw, .service-ig .service-icon-box-ig {
    position: relative;
    top: 100px;
    display: inline-block;
    margin-bottom: 40px;
    padding: 10px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
.service .service-heading,.service-tw .service-heading-tw,.service-ig .service-heading-ig {
    position: relative;
    top: 80px;
    -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55); }
.service .service-description,.service-tw .service-description-tw, .service-ig .service-description-ig {
    display: block;
    width: 80%;
    margin: -8.688em auto !important;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); }
.service .service-icon-box > img.service-icon, .service-tw .service-icon-box-tw > img.service-icon-tw,.service-ig .service-icon-box-ig > img.service-icon-ig {
    width: 40px; }
.service:hover, .service-tw:hover,.service-ig:hover {
    border-color: #00a8ff; }
.service:hover .service-icon-box, .service-tw:hover .service-icon-box-tw,.service-ig:hover .service-icon-box-ig {
    top: -96px; }
.service:hover .service-heading, .service-tw:hover .service-heading-tw,.service-ig:hover .service-heading-ig {
    top: -136px;  }
.service:hover .service-description, .service-tw:hover .service-description-tw,.service-ig:hover .service-description-ig {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
.service:hover #panel3, .service-tw:hover #panel3 {
    height: 39.222em !important;
}

p.textoDescripcion, dl.textoDescripcion{
    font-family: 'Bitter', serif;
    font-size: 15px;
}
h5.textoDescripcion, h3.textoDescripcion, h4.textoDescripcion {
    font-family: 'Bitter', serif;
}
dd {
    display: block;
    margin-left: 1em;
    margin-bottom: 1em;
}

.miniatura{
    width: 100px;
    height: 80px;
}

.colores{
    height: 30px;
    width: 30px;
    border-style: solid;
    border-color: #1b1b1b;
    border-width: 1px;
    margin: 2%;

}

.negro{
    background-color: #0a0a0a;
}
.blanco{
    background-color: white;
}
.divColor{
    display: inherit;
}


.caja {
    position: relative; /*Para poder ubicar la info dentro de la caja*/
    margin: 15px ;
}
.info {
    position: absolute; /*Info sobre la imagen*/
    top: 5%;
    left: 10%; /*Desplazamos a partir de la esquina superior izquierda*/
    zoom: 1;
    filter: alpha(opacity=0); /*Opacidad Para IE */
    opacity: 0;
    padding: 5px;
    color: white;
    background: black;
    -moz-transition:all ease .8s;
    -webkit-transition:all ease .8s ;
    transition:all ease .8s;
}
.caja:hover .info {
    filter: alpha(opacity=80);
    opacity: .8;
}

.productos  img{
    width: 300px;
    height: 400px;
}
.productos .button{
    width: 300px;
}

.img_thumb{
    float: left;
    padding: 10px 10px 10px 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    margin-bottom: 35px;
    background-color: white;

}
/*  capa hover con la descripcion de cada miniatura */
.img_desc{
    width: 300px;
    height: 400px;
    position: absolute;
    z-index: 2;
    opacity: 0.9;
    padding: 2%;
    display: none;
    background-color: #1b1b1b;
    color: white;
}
.img_thumb img{
    z-index: -1;
}
.login{
     padding: 7%;

    width: 19em;
 }
.login h5{
    padding-top: 9%;
}
.login button{
    margin-top: 5%;
    margin-bottom: 5%;
}
.msjError{
    display: none;
}
.panel{
    margin-top: 5%;
    border: 1px solid #cacaca;
    background: #FAFAFA;
}

table tbody, table tfoot, table thead {
    border: hidden;
    background: #FAFAFA;
}
.comprar{
    display: block;
}

.contenidoCarrito{
    margin-top: 2%;
}

.imgCarrito {
    width: 40%;
}
html,body{
    height:100%;
    width:100%;

}
.contentLogin{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    padding:50px;
    background:rgba(0,0,0,0);
    margin: 0 auto;
    display: none;
}
div.item{
    padding:5px;

    width: 50%;
    height: auto;
    margin: auto;
    float: inherit;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.4);
    transition:box-shadow 2s, transform 500ms, filter 500ms ease-in-out;
}

div.difuminado{
    transform: scale(1.05);
    transition:box-shadow 2s, transform 500ms, filter 500ms ease-in-out;
}

